// Navigation code here

h1 {
    font-size: 5rem;
    text-align: center;

    @media @phone {
        width:100%;
    }
}


nav {
    display:flex;
    align-items: center;
    justify-content: center;

    @media @phone {
        width:100%;
    }

    a {
    margin: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;

    @media @phone {
        width:100%;
    }
}
}

